.program-info-page-body {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 16px;
    row-gap: 16px;

    .center-message {
        margin: auto;
    }

    .error-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        row-gap: 8px;
    }

    .program-info-container {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}