.basis-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .tabbar {
        flex: 0 0 fit-content;
        width: 100%;
        position: static;
    }

    .children-content {
        flex: 1 0 100%;
        width: 100%;
    }
}